/*Make the new HTML5 tags work with FF*/
header, nav, section, article, footer{
	display:block;
}

header{
	padding: 30px 0px 0px 40px;
	height: 40px;
	background-color: #4480C9;
	border-bottom: 4px solid #1E3756;
}

header a, header a:visited, header a:hover, header a:active{
	text-decoration:none;
	color:#FFF;
}

article{
	width:780px;
}

p.huge{
	text-transform:uppercase;
	font-weight:bold;
	font-size:0.875em;
}

a.small{
	font-style:italic;
}

.tags{
	white-space: nowrap;
}

.small_desc{
	padding-left:5px;
	margin-left:30px;
	border-left:0px;
}

span.tag{
	border:1px solid #4480C9;
	color:#28548A;
	font-size:0.75em;
	padding: 3px 4px 2px 4px;
/*	font-family: monospace;*/
	margin-right:5px;
	margin-top:5px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;	
}

p, h1, h2, h3, h4, h5, h6, a{
	font-family: "Myriad Pro","Helvetica Neue","Trebuchet MS",Arial, sans-serif;
}


a, a:visited{
	text-decoration: none;
	color:#28548A;
}

a:hover{
	text-decoration: underline;
}

header h1{
	color: #FFF;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px 1px #000;
}

nav{
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 70px;
}

nav a{
	text-transform: uppercase;
	font-size: 1em;
}

nav a, nav a:visited{
	text-decoration: none;
	color:#183252;
}

nav a:hover{
	text-decoration: underline;
}

nav ul{
	list-style: none:
}

nav li{
	display: inline;
	padding:4px;
	margin-right:20px;
	
	/* Do not move across pages*/
	border:2px solid #FFF;
	background-color:#FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/* End of not button movement hack */
}

.talk{
	font-style:italic;
}

nav li.active{
	border:2px solid #86B3EB;
	background-color:#86B3EB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#index article{
	margin-left:130px;
	margin-bottom: 200px;
	width:800px;
}

#class article{
	margin-left:130px;
	margin-bottom:40px;
	width:800px;
}

#index article section, #class article section{
	float:left;
	width:350px;
	padding-right:40px;
	padding-top:20px;
	border-top:1px dotted #4480C9;
}

#index article section.last, #class article section.last{
	margin-bottom:50px;
}

#class article section{
	width: 500px;
}

#index article section p {
	padding-left:10px;
	font-size: 1.25em;
	padding-bottom:20px;
}

#class article section p{
	padding-left:10px;
	font-size:1em;
	padding-bottom:10px;
}

#index article section p.last, #class article section p.last{
	padding-bottom:0px;
}

#index article aside, #class article aside{
	float:left;
	padding-left:5px;
	width:200px;
	border-top:1px dotted #4480C9;
	padding-top:20px;
	margin-bottom:30px;
}

#index article aside p, #class article aside p{
	margin-bottom:4px;
}

#index article aside p.last, #class article aside p.last{
	margin-bottom:0px;
}

#index article aside p.resume{
	margin-bottom:20px;
}

#index article aside{
	flaot:left;
}

footer{
	clear:both;
	padding-bottom:10px;
	text-align:center;
}

#index footer{
	padding-top:240px;;
}

#class footer{
	padding-top:40px;;	
}

footer p{
	margin:0 auto;
	font-size:0.875em;
}